html, body {
    height: 100%;
}

@media (min-width: 0px) and (max-width: 576px){
    #v-allbox-tab{

    }
}

@media (min-width: 577px) and (max-width: 922px){
    #v-allbox-tab{

    }
}

@media (min-width: 923px) and (max-width: 1500px){
    #v-allbox-tab{

    }
}

@media (min-width: 577px) and (max-width: 922px){
    .messages{

    }
}

.message-send-date {
    margin-left: 2vh;
}

.navbar {
    background-color: rgb(165, 182, 240);
}

#v-inboxMessage-tab {
    background-color: rgb(255, 254, 238);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.aqua {
    background-color: aqua;
}
